.footer {
  background-color: rgb(13, 17, 23);
  color: rgb(139, 148, 158);
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  align-items: center;
  border-top: 1px solid rgba(139, 148, 158, 0.2);
  height: 50px;
}
.footer div {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}
.footer p {
  border-right: 1px solid rgba(139, 148, 158, 0.2);
  font-size: 1.2rem;
  padding: 5px 10px;
}
.footer span {
  border-right: 1px solid rgba(139, 148, 158, 0.2);
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .footer div {
    font-size: 1.2rem;
  }
  .find {
    display: none;
  }
}
