.navbar {
  color: lightgray;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  /* box-shadow: 0px 2px 5px rgb(255, 255, 255); */

  background-color: rgb(13, 17, 23);
}
.navbar ul {
  background-color: rgb(1, 4, 9);
  display: flex;
  border: 1px solid gray;
  width: 100%;
  padding: 0;
  margin: 0;
}
.navbar li {
  border-right: 1px solid gray;
  padding: 0.5rem 1rem;
  list-style: none;
  cursor: pointer;
}
.active {
  border-top: 2px solid rgb(191, 97, 106) !important;
  background-color: rgb(13, 17, 23);
  border-bottom: none;
}

@media screen and (max-width: 400px) {
  .navbar li {
    width: 100%;
    font-size: 14px;
  }
}
